<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h2>Editing Group</h2>

        <%= render 'form', team: @team %>

        <%= link_to 'Show', @team %> |
        <%= link_to 'Back', teams_path %>
      </div>
    </div>
  </div>
</div>