<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <%= image_tag "N6A_EmbraceThePace_3.jpg", class: "mainpage-logo block" %>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h1>New Review Criterium</h1>

        <%= render 'form', review_criterium: @review_criterium %>

        <%= link_to 'Back', review_criteria_path %>
      </div>
    </div>
  </div>
</div>