<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h2>Editing Employee Group</h2>

        <%= render 'form', employee_team: @employee_team %>

        <%= link_to 'Show', @employee_team %> |
        <%= link_to 'Back', employee_teams_path %>
      </div>
    </div>
  </div>
</div>