<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <%= image_tag "N6A_EmbraceThePace_3.jpg", class: "mainpage-logo block" %>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h1>new user</h1>

        <%= render 'form', user: @user %>

        <%= link_to 'Back', users_path %>
      </div>
    </div>
  </div>
</div>