<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <h2 class="margin-bottom-md">new employee rating</h2>

    <%= render 'user_combo_form', user: @user %>

  </div>
</div>

<!--1) team form for officers to fill out-->
<!--2) Review form for team leads to add notes to-->
<!--3) Second graph on employee pages-->
<!--4) Team pages with data-->
<!--5) Individualized employee scores (by employee, not kpi)-->
<!--6) have to test each user type to make sure the flows are 100%-->


<!--
fix team chart calculations
team lead has nav for team and user reviews/team review on team page
conditional review table for POTW and TOTM etc
add notes for team review team lead
-->
<!--
sortable on user/team kpi
hide delete links for non admin
officer has nav for everything minus user reviews and review items
all users come in to user page
clean up team index page (minus start and end columns)
-->
