<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h2>editing user review</h2>

        <%= render 'form', user_review: @user_review %>

        <%= link_to 'Show', @user_review %> |
        <%= link_to 'Back', user_reviews_path %>
      </div>
    </div>
  </div>
</div>