@import "bootstrap-sprockets";
@import "mixins/bootstrap_variables";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "font-awesome";
@import "mixins/bootstrap_overrides";
@import "toastr";
@import "mixins/browser_overrides";
@import "mixins/text_styling";
@import "mixins/utilities";
@import "dataTables/jquery.dataTables";


@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


body {
  font-family: 'Raleway', sans-serif;
  //padding-top: 70px; //allow for bootstrap navbar static
}

.navbar-brand {
  img {
    height: 100%;
  }
}

.mainpage-logo {
  width: 100%;
  max-width: 45rem;
  clear: both;
  margin: 0 auto 2rem auto;
  padding: 1rem;
}

table.datatable thead {
  background-color: #fff;
  color: #666666;
  border-color: grey;
  font-weight: normal;
  cursor: default;
  th {
    border-bottom: 2px solid lightgray;
  }

}
table.dataTable.no-footer {
  border-bottom: none;
}

ul {
  display: inline-block;
  //list-style-position: inside;
  padding-left: 0;
  & > li {
    margin-left: 0;
  }
}

.padding-left-sm span.text-primary {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

//ul {
//  list-style: disc outside none;
//  margin-left: 0;
//  padding-left: 1em;
//}
//li {
//  padding-left: 1em;
//}


//.chart-legend li span{
//  display: inline-block;
//  width: 20px;
//  height: 12px;
//  margin-right: 5px;
//}