@import "bootstrap-sprockets";
@import "mixins/bootstrap_variables";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "font-awesome";
@import "mixins/bootstrap_overrides";
@import "toastr";
@import "mixins/browser_overrides";
@import "mixins/text_styling";
@import "mixins/utilities";


body {
  //padding-top: 70px; //allow for bootstrap navbar static
}

.navbar-brand {
  img {
    height: 100%;
  }
}

.mainpage-logo {
  width: 100%;
  max-width: 45rem;
  clear: both;
  margin: 0 auto 2rem auto;
  padding: 1rem;
}

table.sortable thead {
  background-color:#eee;
  color:#666666;
  font-weight: bold;
  cursor: default;
}