<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <%= image_tag "N6A_EmbraceThePace_3.jpg", class: "mainpage-logo block" %>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h2>new review items by role</h2>

        <%= render 'form', review_items_by_role: @review_items_by_role %>

        <%= link_to 'Back', review_items_by_roles_path %>
      </div>
    </div>
  </div>
</div>